In [17]:
import pandas as pd

data = pd.read_csv('bsalaries1.txt', header = None)
data.columns = ["salaries"]
data.head()

   salaries
0      1588
1      9035
2      6669
3      8123
4      4729

In [18]:
len(data)

100000

In [19]:
data2 = pd.read_csv('bsalaries2.txt', header = None)
data2.columns = ["salaries"]
len(data2)

100000

In [20]:
data3 = pd.read_csv('bsalaries3.txt', header = None)
data3.columns = ["salaries"]
len(data3)

100002

In [23]:
data2000 = data.append(data2)
len(data2000)

200000

In [24]:
data3000 = data2000.append(data3)
len(data3000)

300002

In [26]:
data3000["salaries"].value_counts()[:10]

108     55
6761    54
3715    52
9695    52
8897    50
9928    49
6079    49
5130    49
3812    49
6444    49
Name: salaries, dtype: int64